@import '../../../stylesheets/main.scss';

.progress__bar {
  position: relative;
  height: rem(20);
  width: 70%;
  max-width: rem(280);
  margin: rem(30) auto;
  border-radius: rem(50);
  border: rem(1) solid $lightGray;
  box-shadow: 0 0 rem(5) rem(1) $lightGray;
}

.progress__fill {
  background: $greenBlue;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
