@import '../../../stylesheets/main.scss';

.progress__bar {
  position: relative;
  height: 20px;
  width: 70%;
  max-width: 280px;
  margin: 30px auto;
  border-radius: 50px;
  border: 1px solid $lightGray;
  box-shadow: 0px 0px 5px 1px $lightGray;
}

.progress__fill {
  background: $greenBlue;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
