@import '../../stylesheets/main.scss';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

canvas {
  display: block;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
}

.page__header {
  @include layoutAbsolute;
  min-height: 100vh;
}
