@import '../../stylesheets/main.scss';

#skills {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: $darkGray;
  text-align: center;
}

.skills__title {
  color: $white;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;

  padding: 20px 0;
  text-align: center;
  .title__lines {
    display: inline-block;
    position: relative;
    line-height: 40px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 5px;
      border-bottom: 1px solid $white;
      top: 15px;
      width: 30px;
    }
    &::before {
      right: 100%;
      margin-right: 15px;
    }
    &::after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
