@import '../../stylesheets/main.scss';

#skills {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: $darkGray;
  text-align: center;
  padding: rem(40) 0;
}

.skills__title {
  color: $white;
  font-size: rem(30);
  text-transform: capitalize;
  margin: 0;
  padding: rem(20) 0;
  text-align: center;
  .title__lines {
    display: inline-block;
    position: relative;
    line-height: rem(40);
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: rem(5);
      border-bottom: rem(1) solid $white;
      top: rem(15);
      width: rem(30);
    }
    &::before {
      right: 100%;
      margin-right: rem(15);
    }
    &::after {
      left: 100%;
      margin-left: rem(15);
    }
  }
}
