@import '../../stylesheets/main.scss';

#home {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: $darkGray;
}

.title__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(20);
  color: $white;
  text-transform: capitalize;
  font-family: $playFair;
  @include mq($bp_tablet) {
    left: rem(100);
  }
  .main__title {
    font-size: rem(50);
    letter-spacing: rem(5);
    @include mq($bp_tablet) {
      font-size: rem(100);
    }
  }
  .main__position {
    font-size: rem(40);
    overflow: hidden;
    position: relative;
    letter-spacing: rem(3);
    background: linear-gradient(90deg, $darkGray, #fff, $darkGray);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    @include mq($bp_tablet) {
      font-size: rem(60);
    }
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
