@import '../../stylesheets/main.scss';

#contact {
  min-height: 100vh;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
}

.contact__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contact__title {
  font-size: rem(30);
  text-transform: capitalize;
  margin: 0;
  padding: rem(70) rem(20) rem(20);
  text-align: center;
}

.form__container {
  flex-grow: 1;
  @include mq($bp_tablet) {
    display: flex;
    justify-content: center;
    .form__left {
      .form__group {
        height: 50%;
      }
    }
  }
}

.form__label {
  height: 0;
  width: 0;
  display: inline-block;
  overflow: hidden;
}

.form__input,
.form__textarea {
  box-sizing: border-box;
  font-family: $playFair;
  background-color: $black;
  padding: rem(50) rem(20);
  width: 100%;
  border: none;
  color: $white;
  font-size: rem(24);
  outline: none;
  transition: all 0.3s ease-in-out;
  height: 100%;
  &::placeholder {
    color: $lightGray;
    font-size: rem(24);
  }
  &:focus {
    background-color: $darkGray;
  }
  @include mq($bp_tablet) {
    padding: rem(50) rem(60);
    height: auto;
  }
}

.active__input {
  transition: all 0.3s ease-in-out;
  background-color: $darkGray;
}

.form__textarea {
  resize: none;
}

.form__submit {
  width: rem(100);
  height: rem(50);
  line-height: rem(50);
  box-shadow: 0 0 rem(5) rem(1) $greenBlue;
  border: rem(1) solid $greenBlue;
  display: block;
  border-radius: rem(200);
  font-size: rem(18);
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: $greenBlue;
  background: $black;
  padding: 0;
  margin: rem(20) auto;
  cursor: pointer;
  font-family: $playFair;
  letter-spacing: rem(1);
}
