@mixin flexLayout($justifyContent, $align) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $align;
}

@mixin mq($bp, $direction: min-width) {
  @media all and ($direction: rem($bp)) {
    @content;
  }
}
