// colors (background and text color)
$white: #fff;
$black: #000;
$darkGray: #262626;
$lightGray: #c8c8c8;

// sizes (fonts and heights)
$defaultFontSize: 16;
// typography
$playFair: 'Playfair Display', serif;
