@import '../../../stylesheets/main.scss';

.pie__details {
  width: 110px;
  height: 110px;
  margin: 10px auto;
  @media all and (min-width: 550px) {
    width: 180px;
    height: 180px;
  }
}

.pie__border {
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #262626;
  @media all and (min-width: 550px) {
    width: 180px;
    height: 180px;
  }
  .pie__wrapper {
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #c8c8c8;
    @include flexLayout(center, center);
    @media all and (min-width: 550px) {
      width: 140px;
      height: 140px;
      top: 20px;
      left: 20px;
    }
  }
}

.pie__text {
  color: $naviBlue;
  font-size: rem(18);
  @media all and (min-width: 550px) {
    font-size: rem(24);
    font-weight: bold;
  }
}
